//Roboto Regular
@font-face {
    font-family: "Roboto Regular";
    font-weight: 400;
    font-display: swap;
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

//Roboto Bold
@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-display: swap;
    src: url("../font/Roboto/Roboto-Bold.ttf");
}

//Rubik Medium
@font-face {
    font-family: "Rubik Medium";
    font-weight: 500;
    font-display: swap;
    src: url("../font/Rubik/static/Rubik-Medium.ttf");
}