@use "../../../abstracts" as *;

.products__categories{
  &__row{
    &__card{
      &__thumb{
        height: 24rem;
      }

      &__content{
        &__body{
          a{
            &:hover{
              span{
                i{
                  transform: scaleX(1);
                  @include transition(transform);
                }
              }
            }

            span{
              i{
                transform-origin: left;
                transform: scaleX(0);
                @include transition(transform);
              }
            }
          }
        }
      }
    }
  }

  //breakpoint tablet
  @include mq(md){
    &__header{
      h2{
        font-size: var(--fs-500);
      }
    }

    &__row{
      grid-template-columns: 1fr;

      &__card{
        display: flex;
        align-items: center;
        flex-direction: row;

        &__thumb{
          flex-basis: 40%;
          height: 100%;
          width: 100%;
        }

        &__content{
          flex: 1;
        }
      }
    }
  }

  //breakpoint tablet
  @include mq(sm){
    &__row{
      &__card{
        display: flex;
        align-items: center;
        flex-direction: column;

        &__thumb{
          flex: 1;
          height: 20rem;
        }

        &__content{
          flex: 1;
        }
      }
    }
  }
}