@use "../../abstracts" as *;

.single__content{
  &__container{
    &__row{
      grid-template-columns: max(44.5rem) 1fr;

      &__image{
        display: flex;
        gap: var(--gap);

        &__list{
          flex-basis: 8rem;

          ul{
            flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: var(--gap);

            li{
              flex: 1;
              height: 8rem;
              border: 2px solid var(--clr-white-500);
              cursor: pointer;
              @include transition(all);

              &:hover, &.active{
                border-color: #ececec;
                @include transition(all);
              }
            }
          }
        }

        &__cover{
          flex: 1;
          &__thumb{
            width: 100%;
            max-height: 40rem;
            height: 100%;
            border: 2px solid #F7F7F7;
          }
        }
      }
    }
  }

  &__information{
    &__container{
      &__header{
        h3{
          padding: var(--fs-300) var(--fs-600);
          display: inline-block;
          font-size: 1.8rem;
          border-top: 4px solid var(--clr-primary-500);
          background: var(--clr-white-500);
        }
      }
    }
  }

  //breakpoint tablet
  @include mq(md){
    &__container{
      &__row{
        grid-template-columns: 1fr;
        gap: calc(var(--gap) * 6);

        &__image{
          &__list{
            flex-basis: 10rem;
          }

          &__cover{
            &__thumb{
              max-height: 50rem;
            }
          }
        }

        &__description{
          &__header{
            h2{
              font-size: var(--fs-500);
            }
          }
        }
      }
    }
  }

  //breakpoint tablet
  @include mq(sm){
    &__information{
      &__container{
        &__header{
          h3{
            padding: var(--fs-300) var(--fs-400);
          }
        }

        &__body{
          padding: var(--fs-400);
        }
      }
    }
  }
}