@use "../../abstracts" as *;

.hero{
  width: 100%;
  height: 100vh;
  background:{
    image: url("./../images/background-hero.jpg");
    size: cover;
    position: center;
    repeat: no-repeat;
  }

  //breakpoint tablet
  @include mq(md){
    background-position: 40% center;
    &__header{
      h2{
        font-size: var(--fs-600);
      }
    }
  }

  //breakpoint mobile
  @include mq(sm){
    text-align: left;
    background-position: 35% center;

    &__header{
      p{
        font-size: 2rem;
      }
    }

    &__body{
      &__cta{
        gap: var(--fs-200);
        text-align: center;

        .btn{
          display: block;
          width: 100%;
        }
      }
    }
  }
}